.design_or_pretrained_buttons button {
  margin: 0 1rem;
  outline: none !important;
  color: white;
  background-color: rgb(247, 74, 74);
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
}

.design_or_pretrained_buttons button:hover {
  background-color: rgb(247, 46, 46);
}
