.design {
  margin: 1rem 0;
}

.design-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  margin: 0 16px 16px 16px;
}

.design-list-container {
  padding: 10px;
  width: 33.333%;
  word-wrap: break-word;
  box-sizing: border-box;
  border: 1px solid #000;
}

.design-list {
  border: 1px solid #000;
  padding: 10px;
  cursor: pointer;
}

.design-list:hover {
  background-color: #ccc;
}

.design-inputs {
  text-align: center;
  margin: 0 30px;
}

.design-inputs label {
  margin-right: 1rem;
}

.add-btn {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.layers_list {
  display: flex;
  flex-direction: column;
}
