.main-image {
  grid-area: image;
  /* background-image: url("https://source.unsplash.com/EwKXn5CapA4"); */
  width: 100%;
  height: 100%;
  grid-column: span 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image img {
  border: 1px solid transparent;
  box-shadow: 1px 1px 10px rgba(105, 101, 101, 0.767);
}

.container1 {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr) auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  /* height: 100vh;
  width: 100vw; */
  display: flex;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  grid-column: span 6;
  margin: 0 2rem;
}

.ind_input {
  display: flex;
  align-items: center;
}

.ind_input label,
.ind_input input {
  margin: 1rem;
}

.ind_input label {
  font-weight: 500;
}

.ind_input input,
.ind_input input:focus,
.ind_input input:active {
  outline: none;
}

.user_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit button {
  outline: none !important;
  color: white;
  background-color: rgb(247, 74, 74);
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
}

.submit button:hover {
  background-color: rgb(247, 46, 46);
}

.response-img {
  box-shadow: 1px 1px 10px rgba(105, 101, 101, 0.767);
  margin: 1rem 0;
}

.edit-options {
  padding: 1rem;
}

.edit-options button {
  outline: none !important;
  color: white;
  background-color: rgb(247, 74, 74);
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
}

.edit-options button:hover {
  background-color: rgb(247, 46, 46);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
