.balancing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common-input label {
  margin: 1rem;
}

.common-input input {
  outline: none;
}

.balancing-inputs input {
  margin: 1rem;
  outline: none;
}

.balancing button {
  outline: none !important;
  color: white;
  background-color: rgb(247, 74, 74);
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
}
