.train {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.train_input input {
  outline: none;
}

.train_input label {
  margin: 1rem;
}

.train_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
